{%extends 'base.html'%}
{%load static%}
{%block content%}

<section class="bg-cover bg-image mt-1"
  style="background-image: url({%static 'img/bg6.jpg'%});background-size:cover; background-position:center; background-repeat:no-repeat;">
  <div class="container p-5 ">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-3">
        <form action="{% url 'booking' uid=hotel.uid %}" method="post">
          {% csrf_token %}
           {{ form.as_p }}
           <button type="submit" class="btn btn-primary m-4">Book Now</button>
        </form>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</section>

 {%endblock%}