{% extends 'base.html' %}
{%load static %}
{%block content %}

<section class="bg-cover bg-image mt-1"
  style="background-image: url({%static 'img/bg3.jpg'%});background-size:cover; background-position:center; background-repeat:no-repeat;">

<div class="container w-25 mt-1 p-1  border shadow rounded ">
    <div class="row mt-5">

    
    <h1 class="text-center mt-3 fw-bold fs-1">LOGIN</h1>
    <div class="container mt-5">
    <form action="" method="post">
        {%csrf_token%}
        {{form}}
        <div class="d-flex justify-content-center align-content-center">

        <button class="btn btn-dark p-2 mt-5 mb-5" type="submit">LOGIN</button>
        </div>
        <p class="text-center mt-5 mb-5 text-danger bg-light rounded p-3 rounded">Not a User  <a href="{%url 'signup'%}"
            class="fw-bold text-success"><u>register here</u></a></p>

    </form>
    </div>
</div>
</div>

    
{%endblock%}
</section>

